* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* organization/testing start*/
 /* .box-1-yellow {
    margin: 10px;
    border: 3px solid #333;
    background-color: yellow;
    color: black;
}
.box-2-green {
    margin: 10px;
    border: 3px solid #333;
    background-color: rgb(153, 255, 0);
    color: black;
}
.box-3-purple {
    margin: 10px;
    border: 3px solid #333;
    background-color: blueviolet;
    color: white;
}
.box-4-red {
    margin: 10px;
    border: 3px solid #333;
    background-color: red;
    color: white; */
}
/* organization/testing end*/

/* RANDOM STYLES START */

.container-section {
    display: flex;
    justify-content: space-around;

    flex-direction: row;
    }

.section-title {
    display: flex;
    justify-content: flex-end;

    border-right: 3px solid black;

    width: 30%;
    font-size: 50px;

    padding-right: 20px;
    margin-right: 20px;
}

.container-content {
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 70%;

    /* border-left: 3px solid black; */
    }

.content-right-p {
    margin: 10px;
    /* width: 300px; */
}

.horizontal-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.opacity-hover:hover {
    opacity: 50%;
}

/* RANDOM STYLES End */


/* Start header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header nav ul li {
    margin-left: 25px;
}
a {
    color: ivory;
    text-decoration: none;
}
/* End header */

/* Hero start */
.hero {
    background-image: url("../Images/lake.jpg");
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* Hero end */


/* Start About Me */    
    #cbm-profile {
        /* height: auto; */
        margin: 10px;
        max-width: 300px;
        max-height: 300px;
        background-size: cover;
        background-position: center;
    }
/* End About Me */

/* Work section Start */

/* Work image ids Start*/
    #surf-report {
    background-image: url(../Images/Work-Project-Images/surf\ report.jpg);
    }
    #led-wall {
    background-image: url(../Images/Work-Project-Images/led\ wall.jpeg);
    }
    #calculator {
    background-image: url(../Images/Work-Project-Images/calculator.png);
    }
    #pastel-puzzle {
    background-image: url(../Images/Work-Project-Images/pastel\ puzzle.jpg);
    }
    #run-buddy {
    background-image: url(../Images/Work-Project-Images/hero-bg.jpg);
    }
/* Work image ids End*/

.work-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 300px;
    width: 100%;
    margin: 10px;
    border: 5px solid #2a607c;

    background-position: center;
    background-size: cover;

    color: white;
}

.work-project h3 {
    font-size: 30px;
    background-color: #2a607c;
    padding: 5px;
    max-width: 100px;

}
.work-project h4 {
    margin: 0 0 10px 0;
    font-size: 15px;
    background-color: #2a607c;
    padding: 0 5px 5px 5px;
    max-width: 100px;
}

.image-pair {
    display: flex;
    justify-content: space-around;
}


/* Work section End */

/* Start Contact Me */

/* End Contact Me */

/* End Sections */