* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    --main: #2a607c;
    --white-text: white;

}

/* RANDOM STYLES START */
.section-container {
    display: flex;
    justify-content: space-around;

    /* width: 100%; */

    /* border: 2px solid black;
    margin: 2px;
    padding: 2px; */
}
.section-title {
    display: flex;
    justify-content: flex-end;

    border-right: 3px solid black;

    width: 30%;
    font-size: 25px;

    padding-right: 20px;
    padding-left: 20px;

    margin-right: 20px;
}
.container-content {
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 70%;
}
.content-right-p {
    margin: 10px;
}
.horizontal-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.backlog {
    display: none;
}
/* RANDOM STYLES End */

/* Header Start */
header {
    padding: 20px;
    background-color: var(--main);
    color: var(--white-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    display: inline-block;
    text-align: center;
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header nav ul li {
    margin-left: 25px;
}
a {
    color: var(--white-text);
    text-decoration: none;
}
/* Header End */

/* Hero Start */
.hero {
    background-image: url("../Images/lake.jpg");
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}
#hero-text {
    font-size: 40px;
    padding: 5px;
}
/* Hero End */


/* About Me section Start */    
#cbm-profile {
    /* height: auto; */
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
}
/* About Me section End */

/* Work section Start */
.image-pair {
    display: flex;
    width: 100%;

    /* justify-content: space-between; */
    
    /* border: 2px solid black;
    margin: 2px;
    padding: 2px; */
}
#cards {
    /* border: 2px solid black;
    margin: 2px;
    padding: 2px; */
}
#First-Card {
    /* border: 2px solid black;
    margin: 2px;
    padding: 2px; */
}
.text-box {
    display: inline-block;
    width: fit-content;

    background-color: var(--main);
    color: var(--white-text);
    margin: 0 0 10px 0;
}
.work-project h3 {
    font-size: 30px;
    padding: 5px;
}
.work-project h4 {
    font-size: 15px;
    padding: 0 5px 5px 5px;
}
.work-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 300px;
    width: 100%;

    margin: 10px;
    border: 5px solid #2a607c;

    background-position: center top;
    background-size: cover;
}
.work-project:hover {
    opacity: 50%;
}
/* End Work section */

/* Work image ids Start*/
#surf-report {
background-image: url(../Images/Work-Project-Images/surf\ report.jpg);
}
#led-wall {
background-image: url(../Images/Work-Project-Images/led\ wall.jpeg);
}
#calculator {
background-image: url(../Images/Work-Project-Images/calculator.png);
}
#pastel-puzzle {
background-image: url(../Images/Work-Project-Images/pastel\ puzzle.jpg);
}
#run-buddy {
background-image: url(../Images/Work-Project-Images/hero-bg.jpg);
}
#Horeison {
background-image: url(../Images/Work-Project-Images/digital-marketing-meeting.jpg);
}
#passwordGenerator {
background-image: url(../Images/Work-Project-Images/passwordGenerator.png);
}
#workDayScheduler {
background-image: url(../Images/Work-Project-Images/workDayScheduler.png);
}
#Eazy-Eatz {
background-image: url(../Images/Work-Project-Images/Eazy\ Eatz.png);
}
#eCommerce-backEnd {
    background-image: url(../Images/Work-Project-Images/e-commerce-back-end.jpeg);
    background-position: center;
}
#Full-Stack-Website {
    background-image: url(../Images/Work-Project-Images/Armadillo\ Materials.png);
    background-position: center;
}

/* Work image ids End*/

/* Start Contact Me */
#contact-nav {
    font-size: 20px;

    display: flex;
    justify-content: center;
}
#contact-ul {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}
.contact-li {
    margin-left: 25px;
}
.contact-a {
    color: black;
    border-bottom: 3px solid black ;
}
/* End Contact Me */

/* Start Media queries */

@media screen and (max-width: 575px) {
    /* * {
        border: 2px solid black;
    } */

    header {
        justify-content: center;
        align-items: center;
    }
    
    .section-container {
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        display: flex;
        justify-content: left;
        width: 70%;

        border-right: 0px solid black;
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 0px;

    }
    .container-content {
        align-items: center;

        border-top: 3px solid black;
        padding-top: 20px;
        margin-top: 20px;
    }
    .image-pair {
        flex-direction: column;
    }

    #contact-nav {
        padding-bottom: 20px;
    }
}
/* Media queries End*/

